name: ci

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby:
          - version: 2.5
            continue-on-error: false
          - version: 2.6
            continue-on-error: false
          - version: 2.7
            continue-on-error: false
          - version: 3.0
            continue-on-error: false
          - version: ruby-head
            continue-on-error: true
          - version: jruby-head
            continue-on-error: true

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.ruby.version }}
      - name: Install dependencies
        run: bundle install
        continue-on-error: ${{ matrix.ruby.continue-on-error }}
      - name: Run rubocop
        run: bundle exec rubocop
        continue-on-error: ${{ matrix.ruby.continue-on-error }}
      - name: Run specs
        run: bundle exec rspec
        continue-on-error: ${{ matrix.ruby.continue-on-error }}
      - name: Coveralls
        uses: coverallsapp/github-action@master
        continue-on-error: true
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
